* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/rana-sawalha-364253-unsplash.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed ;
    background-position: center;

}

.header {
    overflow: auto;
    background-color: rgba(1,1,1, .4);
    height:35px;
    margin-bottom: 50px;


}
.logo {
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-left: 30px;
    font-size: 15px;
    color: white;
    font-family: "Verdana";
    font-weight: bold;
    cursor: pointer;


}
.logo:hover {
    color: green;
}
.sprite{
    float: right;
}
.sprite li {
    display: inline-block;
    margin-right: 20px;
}
.sprite a{
    text-decoration: none;
    color: white;


}
span {
    color: green;
}
.sprite-ic_caledar {
    width: 20px;
    height: 23px;
    background: url(../img/spritesheet.png)-9px -9px;
}

.sprite-ic_forum {
    width: 30px;
    height: 23px;
    background: url(../img/spritesheet.png) -48px -9px;
}

.sprite-ic_journey {
    width: 21px;
    height: 22px;
    background: url(../img/spritesheet.png) -96px -10px;
}

.sprite-ic_caledar:hover{
    background: url("../img/spritesheet (1).png") -4px -4px;
    cursor: pointer;
}
.sprite-ic_forum:hover {
    background: url("../img/spritesheet (1).png")-33px -4px;
    cursor: pointer;
}
.sprite-ic_journey:hover{
    background: url("../img/spritesheet (1).png") -71px -5px;
    cursor: pointer;
}

.container {
    width: 30%;
    height: 50%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}
.square {
    height: 15px;
    width: 20px;
    background-color: green;
    display: inline-block;
    margin-top: 30px;
}

.Sign {
    display: inline-block;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 25px;
    cursor: pointer;
}
.login {
    display: inline-block;
    font-size: 15px;
    color: green;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    border: none;
    cursor: pointer;
}

.facebook {
    width: 38%;
    height: 40px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.facebook:hover{
    background-color: black;
}
.google {
    width: 38%;
    height: 40px;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.google:hover {
    background-color: black;
}

.btn {
    margin-top: 15px;
    text-align: center;
    margin-left: 2px;
}
label {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;

}
.data input {
    height: 40px;
    width: 85%;
    margin-left: 10px;
}
.btn-2 {
    color: white;
    width: 75%;
    height: 40px;
    background-color: green;
    margin-bottom: 30px;
    border:none;
    cursor: pointer;
    margin-left: 50px;

}

.btn-2:hover {
    background-color: black;
}
