* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     min-height: 100%;
     background-image: url("../img/background.png");
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
 }

.header {
    width: 1280px;
    text-align: center;
    margin: auto;
    padding:10px;
}

.logo--2 {
    display: inline-block;
}
.logo--2 p {
    line-height: 25px;
}

.address {
    display: inline-block;
    text-align: right;
    margin-left: 55%;

}
.address p {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Verdana";
}
.Milan {
    font-size: 29px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Verdana";
    font-weight: bold;
}
.Milan:hover{
    color: red;
}
.Holidays {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Verdana";
    font-weight: bold;
}
.Holidays:hover{
    color: red;
}
.logo img:hover {
    color:red;
    background-color: red;
}
.section {
    width: 1280px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    padding:15px;

}

.img--1, .img--2, .img--3, .img--4, .img--5, .img--6  {
    width: 33%;
    float: left;
}


footer {
    width: 1280px;
    text-align: center;
    margin: auto;
    color: white;
    padding:10px;


}




/*
 .logo1 {
     float: left;
     margin-top: 30px;
     margin-left: 150px;
 }

.logo2 {
    display: inline-block;
    float: right;
}

/*
.Milan {
    font-size: 29px;
    line-height: 21px;
    color: #ffffff;
    font-family: Verdana;
    font-weight: bold;

}

.Holidays {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Verdana";
    font-weight: bold;
}


.address {
    float: right;
    margin-right: 150px;
    }

.address p {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    font-family: Verdana;

}
*/
/* --SECTION --*/

 /*.section { border: 2px dashed red;
     lin



 }
 .section div {
     margin: 70px;
     display: inline;
 }
 .section img {
     width: 351px;
     height: 204px;

 }

 footer p {
     margin-top: 40px;
     font-size: 12px;
     line-height: 21px;
     color: #ffffff;
     font-family: "Verdana";
     text-align: center;
 }
*/