* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}
.container {
    width: 1280px;
    height: 1000px;
    position: relative;
    margin: auto;
}

.icon {
    font-size: 35px;
    color: #000000;
    font-family: "Myriad Pro";
    margin-top: 20px ;
    margin-bottom: 20px;
}

.icon a {
    text-decoration: none;
    color: #4bcaff;
}

.icon span {
    color: black;
}

.navbar {
    background-color: #3a4965;
}

.navbar ul{
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 5px;
    height: 40px;
}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-family: "Myriad Pro";
    margin: 50px;
}
.navbar li:hover {
    background-color: black ;
}

.left-side {
    border: 1px solid black;
    display: inline-block;
    margin-top: 50px;
    width: 18%;
    height: 32%;


}
.left-side a {
    display: block;
    font-size: 20px;
    color: #35444f;
    font-family: "Myriad Pro";
    text-decoration: none;
    padding: 20px;


}

.left-side a:hover  {
    background-color: #4bcaff;
    letter-spacing: 0.01em;
}

.main {
    display: inline-block;
    float: right;
    border: 1px solid black;
    width: 75%;
    height: 48%;
    margin-top: 50px;
    text-align: center;
    padding: 25px;

}
.main img {
    padding: 10px;
    margin: 10px;
}

.text {
    display: inline-block;
    width: 75%;
    height: 30%;
    margin-top: 40px;
    margin-left: 25%;
}

.footer {
    background-color: #4bcaff;
    padding: 10px;
    margin-bottom: 30px;

}
.footer a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px;
    margin: 10px;


}

.footer p{
    display: inline-block;
    float: right;
    font-size: 20px;

}
.footer a:hover {
    background-color: #89c331;
}




