*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffffff;
}

.logo p {
    color:#6fd5ff;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo span {
    color: black;
}
.logo a {
    text-decoration: none;
}
.menu {
    clear:both;
    background-color: #35444f;
    margin-left: 100px;
    margin-right: 100px;
}

.menu li {
    display: inline-block;
    padding: 13px;
    margin-left: 50px;
    margin-right: 50px;
;
}
.menu li a {
    font-size: 20px;
    color: #ffffff;
    font-family: Myriad Pro;
    text-decoration: none;
}

.navigation {
    text-align: center;

}

.Ramda {
    border-left: 2px solid #818181;
    border-right: 2px solid #818181;
}

.section {
    height: 800px;
}
.left {
    display: inline-block;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 25px;
    line-height: 60px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.left li {
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
}


.Why-Ramda {
    background-color: #;
    padding-right: 40px;
    padding-left: 40px;
}

.right {
    float: right;
    display: block;
    margin-top: 50px;
    margin-right: 100px;
    border: 1px solid black;
    text-align: center;

}

.right img {
    margin: 50px 250px;

    max-width: 40%;
    max-height: 300px;
}

.writing {
    float: right;
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;

}

.footer--menu ul{
    display: inline-block;

}
.footer--menu li {
    float: left;
    list-style-type: none;
    margin-left: 10px;

}
.copyright {
    float: right;

}
.copyright p{
    display: block;
}